header {
    border-bottom: solid gray;
    padding: 20px;
}   
nav {
    border-right: 1px solid gray;
    width: 200px;
    height: 600px;
    float: left;
}
/* nav 태그 및 ol 가르킴 */
nav ol {
    list-style: none;
}   
article {
    float: left;
    padding: 20px;
}  